[submodule "roles/cloudbuilder"]
	path = roles/cloudbuilder
	url = https://github.com/ismc/ansible-cloudbuilder.git
[submodule "roles/network-dmvpn"]
	path = roles/network-dmvpn
	url = https://github.com/ismc/ansible-network-dmvpn.git
[submodule "roles/network-backup"]
	path = roles/network-backup
	url = https://github.com/ismc/ansible-network-backup.git
